Financial Data Index

<table>
  <thead>
    <th>Month</th>
    <th>Year</th>
    <th>Income</th>
    <th>Expenses</th>
    <th>Net Worth</th>
    <th>%FI</th>
  </thead>
<% financial_data.each do |datum| %>
  <tr id="financial-datum-row-<%= datum.id %>">
    <td><%= datum.month %></td>
    <td><%= datum.year %></td>
    <td><%= datum.income %></td>
    <td><%= datum.expenses %></td>
    <td><%= datum.net_worth %></td>
    <td><%= "%.2f" % datum.percent_fi %></td>
    <td><%= link_to "Edit", edit_financial_datum_url(datum) %></td>
    <td><%= link_to "Delete", financial_datum_url(datum), method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to "New Financial Data Entry", new_financial_datum_path %>
