<header class="header">
  <div class="container">
    <%= link_to "FI Calc App", root_path, id: "logo" %>
    <nav>
      <ul class="navbar">
        <li><%= link_to "TimeToFICalc",   root_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Financial Data", financial_data_path %></li>
          <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<div class="header_buffer"></div>
